.env
myapp/migrations/
myapp/__pycache__/
mysite/*
__pycache__/

myapp/migrations/
myapp/__pycache__/
mysite/__pycache__/

__pycache__/

myapp/migrations/
myapp/__pycache__/

myapp/migrations/
myapp/__pycache__/
mysite/__pycache__/

__pycache__/

env/


# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
