.env
node_modules
.DS_Store
communityEmpowerment/migrations/
communityEmpowerment/__pycache__/
mysite/*
__pycache__/

communityEmpowerment/migrations/
communityEmpowerment/__pycache__/
mysite/__pycache__/
communityEmpowerment/.DS_Store

__pycache__/

communityEmpowerment/migrations/
communityEmpowerment/__pycache__/

communityEmpowerment/migrations/
communityEmpowerment/__pycache__/
mysite/__pycache__/

__pycache__/

myenv/


